.createActivitiesBG{
    position: absolute;
    width: 1336px;
    height: 1650px;
    left: 0px;
    top: 122px;

    background: #F1EEEE;
}

.createActivities{
    position: absolute;
    width: 920px;
    height: 1580px;
    left: 208px;
    top: 144px;
    bottom: 48px;
    
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

.createActivitiesTitle{
    position: absolute;
    width: 607px;
    height: 100px;
    right: 495px;
    top: 39px;
    
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
    color: #000000;
}

.boxActivityPatient{
    box-sizing: border-box;

    position: absolute;
    width: 829px;
    height: 80px;
    left: 50px;
    top: 74px;
    
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

.boxActivityPatientTitle{
    position: absolute;
    width: 124px;
    height: 20.67px;
    left: 35px;
    top: 30px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    
    color: #000000;
}

.boxActivityPatientName{
    position: absolute;
    width: 242px;
    height: 21px;
    left: 232px;
    top: 30px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    
    color: #000000;
}

.checkmarkSelected{
    display: inline-block;
    box-sizing: border-box;
    width: 42px !important;
    border-radius: 50px;
    height: 42px;
    text-align: center !important;
    border: 3px solid #FFFFFF;
    background-color: #1C7FD9;;
    font-size: 24px;
    font-family: 'Inter' !important;
    font-weight: 800px;
    font-style: normal;
}

/* Activity 1*/

.boxActivity1{
    box-sizing: border-box;

    position: absolute;
    width: 829px;
    height: 205px;
    left: 50px;
    top: 172px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

.boxActivity1Title{
    position: absolute;
    width: 230px;
    height: 19px;
    left: 35px;
    top: 23px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    
    color: #000000;
}

.boxActivity1Btn1{
    box-sizing: border-box;

    position: absolute;
    width: 148px;
    height: 96px;
    left: 35px;
    top: 60px;

    /*background: url();*/
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 40px;
    border: none;
}

.boxActivity1Btn2{
    box-sizing: border-box;

    position: absolute;
    width: 148px;
    height: 96px;
    left: 232px;
    top: 60px;

    /*background: url();*/
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 40px;
    border: none;
}

.boxActivity1Btn3{
    box-sizing: border-box;

    position: absolute;
    width: 148px;
    height: 96px;
    left: 436px;
    top: 60px;

    /*background: url();*/
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 40px;
    border: none;
}

.boxActivity1Btn4{
    box-sizing: border-box;

    position: absolute;
    width: 148px;
    height: 96px;
    left: 639px;
    top: 60px;

    /*background: url();*/
    border: 3px solid #1C7FD9;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 40px;
}

/* Activity 2*/

.boxActivity2{
    box-sizing: border-box;

    position: absolute;
    width: 829px;
    height: 205px;
    left: 50px;
    top: 395px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

.boxActivity2Title{
    position: absolute;
    width: 230px;
    height: 19px;
    left: 35px;
    top: 23px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    
    color: #000000;
}

.boxActivity2Btn1{
    box-sizing: border-box;

    position: absolute;
    width: 148px;
    height: 96px;
    left: 35px;
    top: 60px;

    /*background: url();*/
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 40px;
    border: none;
}

.boxActivity2Btn2{
    box-sizing: border-box;

    position: absolute;
    width: 148px;
    height: 96px;
    left: 232px;
    top: 60px;

    /*background: url();*/
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 40px;
    border: none;
}

.boxActivity2Btn3{
    box-sizing: border-box;

    position: absolute;
    width: 148px;
    height: 96px;
    left: 436px;
    top: 60px;

    /*background: url();*/
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 40px;
    border: none;
}

.boxActivity2Btn4{
    box-sizing: border-box;

    position: absolute;
    width: 148px;
    height: 96px;
    left: 639px;
    top: 60px;

    /*background: url();*/
    border: 3px solid #1C7FD9;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 40px;
    border: none;
}

/* Activity 3*/

.boxActivity3{
    box-sizing: border-box;

    position: absolute;
    width: 829px;
    height: 140px;
    left: 50px;
    top: 618px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

.boxActivity3Title{
    position: absolute;
    width: 230px;
    height: 19px;
    left: 35px;
    top: 22px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    
    color: #000000;
}

.boxActivity3Btn1{
    box-sizing: border-box;

    position: absolute;
    width: 197px;
    height: 44px;
    left: 35px;
    top: 49px;

    background: #E2FCFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 40px;
    border: none;
}

.boxActivity3Btn2{
    box-sizing: border-box;

    position: absolute;
    width: 197px;
    height: 44px;
    left: 309px;
    top: 49px;

    background: #E2FCFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 40px;
    border: none;
}

.boxActivity3Btn3{
    box-sizing: border-box;

    position: absolute;
    width: 197px;
    height: 44px;
    left: 584px;
    top: 49px;

    background: #E2FCFF;
    border: 3px solid #1C7FD9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

/* Activity 4*/

.boxActivity4{
    box-sizing: border-box;

    position: absolute;
    width: 829px;
    height: 363px;
    left: 50px;
    top: 776px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

.boxActivity4Title{
    position: absolute;
    width: 230px;
    height: 19px;
    left: 35px;
    top: 23px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    
    color: #000000;
}

.boxActivity4Btn1{
    box-sizing: border-box;

    position: absolute;
    width: 148px;
    height: 96px;
    left: 35px;
    top: 60px;

    /*background: url();*/
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 40px;
    border: none;
}

.boxActivity4Btn2{
    box-sizing: border-box;

    position: absolute;
    width: 148px;
    height: 96px;
    left: 232px;
    top: 60px;

    /*background: url();*/
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 40px;
    border: none;
}

.boxActivity4Btn3{
    box-sizing: border-box;

    position: absolute;
    width: 148px;
    height: 96px;
    left: 436px;
    top: 60px;

    /*background: url();*/
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 40px;
    border: none;
}

.boxActivity4Btn4{
    box-sizing: border-box;

    position: absolute;
    width: 148px;
    height: 96px;
    left: 639px;
    top: 60px;

    /*background: url();*/
    border: 3px solid #1C7FD9;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 40px;
}

.boxActivity4Btn5{
    box-sizing: border-box;

    position: absolute;
    width: 148px;
    height: 96px;
    left: 35px;
    top: 200px;

    /*background: url();*/
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 40px;
    border: none;
}

.boxActivity4Btn6{
    box-sizing: border-box;

    position: absolute;
    width: 148px;
    height: 96px;
    left: 232px;
    top: 200px;

    /*background: url();*/
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 40px;
    border: none;
}

.boxActivity4Btn7{
    box-sizing: border-box;

    position: absolute;
    width: 148px;
    height: 96px;
    left: 436px;
    top: 200px;

    /*background: url();*/
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 40px;
    border: none;
}

.boxActivity4Btn8{
    box-sizing: border-box;

    position: absolute;
    width: 148px;
    height: 96px;
    left: 639px;
    top: 200px;

    /*background: url();*/
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 40px;
    border: none;
}

/* Activity 5*/

.boxActivity5{
    box-sizing: border-box;

    position: absolute;
    width: 829px;
    height: 140px;
    left: 50px;
    top: 1157px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

.boxActivity5Title{
    position: absolute;
    width: 230px;
    height: 19px;
    left: 35px;
    top: 22px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    
    color: #000000;
}

.boxActivity5Btn1{
    box-sizing: border-box;

    position: absolute;
    width: 197px;
    height: 44px;
    left: 35px;
    top: 49px;
    
    background: #EBE2FF;
    border: 3px solid #1C7FD9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

.boxActivity5Btn2{
    box-sizing: border-box;

    position: absolute;
    width: 197px;
    height: 44px;
    left: 309px;
    top: 49px;
    
    background: #EBE2FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    border: none;
}

.boxActivity5Btn3{
    box-sizing: border-box;

    position: absolute;
    width: 197px;
    height: 44px;
    left: 584px;
    top: 49px;
    
    background: #EBE2FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    border: none;
}

/* Activity 6*/

.boxActivity6{
    box-sizing: border-box;

    position: absolute;
    width: 829px;
    height: 140px;
    left: 50px;
    top: 1315px;
    
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

.boxActivity6Title{
    position: absolute;
    width: 230px;
    height: 19px;
    left: 35px;
    top: 22px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    
    color: #000000;
}

.boxActivity6Btn1{
    box-sizing: border-box;

    position: absolute;
    width: 197px;
    height: 44px;
    left: 200px;
    top: 49px;
    
    background: #FFE2E2;
    border: 3px solid #1C7FD9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

.boxActivity6Btn2{
    box-sizing: border-box;

    position: absolute;
    width: 197px;
    height: 44px;
    left: 474px;
    top: 49px;
    
    background: #FFE2E2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    border: none;
}

/* Activity Button*/

.createActivityButton{
    position: absolute;
    width: 196px;
    height: 41.68px;
    left: 362px;
    top: 1484px;

    background: #FF673B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    border: none;
}

.createActivityButtonTitle{
    height: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    
    color: #FFFFFF;
}